.pimg4 {
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}


form {
  width: 450px;
  margin: 0px auto;
}

.formulario {
  padding-top: 18%;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: -8%;
}


.descripcion {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.ingreso {
  display: flex;
  align-items: center;
}


.boton {
  height: 44px;
  border: none;
}


#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#enviar {
  width: 25%;
  height: 46px;
  background: #f3d333;
  font-family: inherit;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#enviar:hover {
  background: black;
  color: white;
}


input:focus {
  outline: none;
  outline: 2px solid gray;
  box-shadow: 0 0 2px gray;
}

@media(max-width: 800px){
  .formulario {
    padding-top: 47%;
  }
}
